<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action='/image' method="POST">
        <input type="text" name="image" placeholder="Enter url" id="image">
        <button type="submit" value="submit">Submit</button>
        

    </form>
    

</body>
</html>