<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <h1><%=msg%></h1>
</head>
<body>
    <form action="/login" method="POST">
        Enter Name:
        <input type="text" name="lname" id="lname">
        Enter Password:
        <input type="text" name="pass" id="pass">
        <button type="submit" name="submit">Submit</button>
    </form>
</body>
</html>