<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/survey/create" method="POST">
    Enter your question
    <input type="text" id="question" name="question" placeholder="Enter your question...">
    <button type="submit" name="submit" id="submit" value="submit">Submit</button>
    <button type="submit" name="submit" value="Done">Done</button>
    </form>
</body>
</html>