<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
    <form action='/survey/store/' method="POST">
            
            <% for (var i = 0; i < p.length; i++) { %>
                <%= p[i] %>
                
                <input type="radio" name="answer<%= i %>" value="YES"> YES
                <input type="radio" name="answer<%= i %>" value="NO"> NO
                <hr>

            <% } %>
            <% n=i%>
            <button type="submit" value="submit">Submit Answers</button>
    </form>
        
       
            
</body>
</html>